USER_NAME=your_name
OLLAMA_HOST=http://127.0.0.1:11434
ARVIS_MODEL=arvis

MUSIC_FOLDER=/path/to/music
DOWNLOADS_FOLDER=/path/to/downloads

STEAM_COMMAND=steam
SPOTIFY_COMMAND=flatpak run com.spotify.Client
BRAVE_COMMAND=brave-browser
DISCORD_COMMAND=flatpak run com.discordapp.Discord
TELEGRAM_COMMAND=flatpak run org.telegram.desktop

ARVIS_VOICE_ENABLED=false
ARVIS_STT_BACKEND=faster_whisper
ARVIS_STT_MODEL=small
ARVIS_STT_DEVICE=auto
ARVIS_STT_COMPUTE_TYPE=auto
ARVIS_MIC_DEVICE=
ARVIS_VOICE_RECORD_SECONDS=6
ARVIS_VOICE_LANGUAGE=uk
ARVIS_VOICE_ALLOWED_LANGUAGES=uk,ru,en,no
ARVIS_VOICE_MIN_RMS=0.008
ARVIS_VOICE_MIN_PEAK=0.03
ARVIS_VOICE_DEBUG_SAVE_LAST=false
ARVIS_VOICE_DUCKING_ENABLED=true
ARVIS_VOICE_DUCK_PERCENT=15
ARVIS_VOICE_DUCK_RESTORE=true

MINECRAFT_SERVER_ENABLED=false
MINECRAFT_SERVER_KEY=default
MINECRAFT_SERVER_NAME=My Minecraft Server
MINECRAFT_SERVER_CWD=/absolute/path/to/server
MINECRAFT_SERVER_COMMAND=./start.sh
