USER_NAME=your_name
OLLAMA_HOST=http://127.0.0.1:11434
ARVIS_MODEL=arvis

MUSIC_FOLDER=/path/to/music
DOWNLOADS_FOLDER=/path/to/downloads

STEAM_COMMAND=steam
SPOTIFY_COMMAND=flatpak run com.spotify.Client
BRAVE_COMMAND=brave-browser
DISCORD_COMMAND=flatpak run com.discordapp.Discord
TELEGRAM_COMMAND=flatpak run org.telegram.desktop

MINECRAFT_SERVER_ENABLED=false
MINECRAFT_SERVER_KEY=default
MINECRAFT_SERVER_NAME=My Minecraft Server
MINECRAFT_SERVER_CWD=/absolute/path/to/server
MINECRAFT_SERVER_COMMAND=./start.sh
